body {
  font: 500 14px/1.7 'Raleway', Helvetica, Arial, sans-serif;
  color: #333;
}
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: 1.2;
}
a,
input[type="submit"],
input[type="button"],
button {
  -webkit-transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
          transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block;
  padding:0 12px;
  text-decoration: none;
  border: 1px solid #ffcc00;
  text-transform: uppercase;
color: #666;
font-family: 'OpenSans';
font-size: 14px;
line-height: 24px;
font-weight: 700;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  -webkit-transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
          transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
}
/* Layout */
.ba-container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}
.slick-slide {
  outline: none;
}
/* Slider */
/* Slider */
.slick-loading .slick-list {
  background: #fff;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 42px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -25px;
  padding: 0;
  border: none;
  outline: none;
  fill:#ffcc00;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  color: #000000;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

/* Dots */
.slick-dots {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 35px auto 0;

}
.slick-dots li {
  display: inline-block;
  height: 10px;
  width: 10px;
  background:#ffcc00;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  vertical-align: middle;
}
.slick-dots li button {
  display: none;
}

.slick-dots .slick-active {
  background: #FFF;
  height: 12px;
  width: 12px;
  border: 1px solid #ffcc00;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
/*Social*/
.ba-social-link{
  display: inline-block;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border: 3px solid #ccc;
  margin: 0 1px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.ba-social__icon {
  fill:#ccc;
  display: inline-block;
    width:  14px;
    height: 14px;
    -webkit-transition:fill .2s ease-in;
       -moz-transition:fill .2s ease-in;
        -ms-transition:fill .2s ease-in;
         -o-transition:fill .2s ease-in;
            transition:fill .2s ease-in;
}
.ba-social-link:hover{
  border-color:#333;
}
.ba-social-link:hover .ba-social__icon {
  fill:#333;
}
/* Team */
.ba-team {
  padding: 50px 0;
  text-align: center;
}
.ba-team-slider {
  padding: 0 25px;
}
.ba-crewman__info {
  padding: 80px 40px 70px 80px;
}
@media (max-width: 900px){
  .ba-crewman__info {
  padding:40px;
}
}
.ba-crewman__name {
  font-size: 36px;
  margin: 0 0 30px;
}
hr {
  background: #ffcc00;
  width: 100px;
  height: 1px;
  border: none;
}
.ba-crewman__position {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 30px 0;
}
.ba-width-padding {
 padding:  70px 14px;
   border-right: 1px solid #ffcc00;
}
@media (max-width: 900px){
    .ba-width-padding {
     border-right:none;
  }
}
.ba-crewman__photo img {
  margin: 0 104;
  border: 1px solid #ffcc00;
   position: relative;
   z-index: 2;
   display: inline-block;
   text-align: center;
}
.ba-crewman__photo:before,
.ba-crewman__photo:after{
  content: "";
  display: block;
  background: #FFF;
  position: absolute;
  z-index: 1;
  margin: auto;
}
.ba-crewman__photo:before{
  left: -4px;
  right: -4px;
  top: 0;
  bottom: 0;
  height: 50%;
}
.ba-crewman__photo:after{
  left:0;
  right:0;
  top: -4px;
  bottom: -4px;
  width: 50%;
}
.ba-crewman__photo{
  display: inline-block;
  padding: 14px;
  border: 1px solid #ffcc00;
  background: #FFF;
  position: relative;
  margin: 0;
}
.ba-subtitle {
  color: #898F8F;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.ba-title {
  color: #ffcc00;
  font-family: "Roboto";
  font-size: 60px;
  font-weight: 900;
  margin: 0 0 50px;
  text-transform: uppercase;
  position: relative;
}
.ba-title:after {
  display: block;
  margin-top: 44px;
  content: "";
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  background: #ffcc00;
}
.ba-title:before {
  content: "";
  width: 30px;
  height: 20px;
  background: #ffffff url(../img/icons/bonfire.svg) no-repeat 50%;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
}
.ba-crewman__description {
  margin: 25px 0 0;
}
.ba-boxes {
  margin: 20px auto;
}
